.board{
  background-color: burlywood;
  border: solid 2px black;
  margin-top: 15vh;
  height: 70vh;
  width: 70vh;
  position: relative;
}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  height: 10vh;
  width: 70vh;
  text-align: center;
  /*background-color: burlywood;*/
  position: absolute;
  top: 0;
  max-width: 600px; /* ustaw maksymalną szerokość */
  text-align: center; /* wyśrodkuj tekst */
}

.field-white{
  width: 7vh;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.field-black{
  width: 7vh;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(116, 81, 70);
  z-index:50;
}

.row{
  display:flex;
  flex-wrap: nowrap;

}

.white-piece{
  z-index:100;
  background-color: white;
  height: 30px;
  width:30px;
  border-radius: 50%;
}

.black-piece{
  z-index:100;
  background-color: black;
  height: 30px;
  width:30px;
  border-radius: 50%;
}

.navbar{
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
}

.main-content{
  display: flex;
  justify-content: space-around;
  margin-top: -5vh;
  width: 100vw;
  
}
ul{
  list-style: none;
  text-align: center;
  padding:0;
  size: 100%;
}
li{
  text-align: center;
  margin-top: 4px;
  margin-left: 18px;
  margin-right: 18px;
}
.moves-list{
display: flex;
background-color: bisque;
border: 3px solid black;
padding-top: 0;
margin-top: 0;
max-height: 100%;
overflow: auto;

}
.navButton{
  width: 80px;
  font-size: xx-large;
  background-color: bisque;
  border-radius: 30%;
}
h1{
  margin-bottom: 0;
  padding: 0;
  margin-top: 50px;
}

.white-list{
  border-right: 2px solid black;
}

.games-navbar{
  background-color: bisque ;
  border: 3px solid black;
  display: flex;
  width: 200px;
  margin-top: 70px;
}

.game{
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  margin-top:50px;
}

.game:hover{
  background-color: rgb(252, 180, 92) ;
  cursor: pointer; /*chwilowo nie dziala a dzialalo [??]*/
}

.result{
  font-weight: bolder;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
